@model IEnumerable<Furniture_Rental_APP_ASP.NET_MVC.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<div>
    <h4>Customers</h4>
    <hr />

    <table class="table table-bordered  table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Discount Rate</th>
            </tr>
        </thead>
        <tbody>
            @{
                var a = 1;
                foreach (var customer in Model)
                {
                    <tr>
                        <th scope="row">@a</th>
                        <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { customer.Id }, null)</td>
                        <td>@customer.MembershipType.DiscountRate%</td>
                    </tr>
                    a = a + 1;
                }
            }
        </tbody>


    </table>
</div>

